@media (max-device-width: 1200px) {
  #page-container {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
    margin: 1px;
  }

  #steps-container {
    font-size: 20px;
    margin: 1%;
    margin-left: 5%;
    margin-top: 5%;
  }

  #btnContainer {
    margin-left: 0;
  }

  .btn.finalGradeBtn {
    margin-left: 20%;
    width: 50%;
    font-size: 17px;
    max-width: 200px;
  }

  #done-btn-5P,
  #done-btn-4P,
  #done-btn-3P {
    margin-left: 20%;
    width: 50%;
    font-size: 16px;
    max-width: 200px;
  }

  #circlesSection {
    grid-gap: 10px;
  }

  h1 {
    padding: 15px;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0;
    font-size: 20px;
  }

  .module {
    width: 90px;
    height: 90px;
    line-height: 15px;
    font-size: 14px;
  }

  #points-5,
  #points-4,
  #points-3 {
    font-size: 16px;
  }

  .btn {
    border-radius: 5px;
    padding: 15px 5px;
    margin: 20px 5px;
    margin-bottom: 15px;
    width: 22%;
    max-width: 120px;
    font-size: 14px;
  }

  .grade-box {
    left: 5%;
    top: 15%;
    right: 5%;
    width: 100%;
    border-radius: 5px;
  }

  .grade-box-content {
    padding: 5%;
    width: 75%;
    margin: 5%;
  }

  p {
    margin: 5px 10px;
    padding: 10px;
  }

  input {
    margin: 6px auto;
    padding: 2px;
    border-radius: 0.2px;
    width: 100%;
  }

  input::placeholder {
    font-size: 10px;
    padding: 5px;
    width: fit-content;
  }

  .cal {
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 3px;
  }

  .close {
    font-size: 30px;
  }

  .finalGradeDesign {
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    max-width: 800px;
  }
}
