@media (max-device-width: 1200px) {
  #page-container {
    grid-template-columns: unset;
    grid-template-rows: repeat(2, 50%);
    height: 100vh;
  }

  #steps-container {
    font-size: 20px;
    height: 50%;
    margin: 5%;
  }

  #btnContainer {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
  }

  .btn.finalGradeBtn {
    margin-left: 20%;
    width: 50%;
    font-size: 17px;
    max-width: 200px;
    margin-bottom: 10px;
  }

  #done-btn-5P,
  #done-btn-4P,
  #done-btn-3P {
    margin-left: 20%;
    width: 50%;
    font-size: 17px;
    max-width: 200px;
  }

  #circle-progress-section {
    height: 50%;
    margin: 0;
    margin-left: 5%;
  }

  #three-pointers,
  #four-pointers,
  #five-pointers {
    grid-gap: 5px;
  }

  h1 {
    padding: 15px;
    letter-spacing: normal;
    word-spacing: normal;
    font-size: 20px;
  }

  .module {
    line-height: 20px;
    font-size: 14px;
    width: 100px;
    height: 100px;
    max-width: 140px;
    max-height: 140px;
    padding: 5px;
  }

  #points-5,
  #points-4,
  #points-3 {
    font-size: 18px;
  }

  .btn {
    /* margin-bottom: 10px; */
    max-width: 120px;
    font-size: 14px;
  }

  .grade-box {
    left: 0;
    top: 0;
    right: 0;
    border-radius: 5px;
  }

  .grade-box-content {
    padding: 5%;
    margin: 5%;
  }

  p {
    margin: 5px 10px;
  }

  input {
    margin: 2px auto;
    padding: 2px;
    border-radius: 0.2px;
    width: 100%;
  }

  input::placeholder {
    font-size: 10px;
  }

  .cal,
  .edit,
  .next {
    padding: 10px 15px;
    border-radius: 3px;
  }

  .close {
    font-size: 30px;
  }

  .finalGradeDesign {
    padding: 10px;
    margin: 10px auto;
    width: 80%;
  }

  #progress {
    width: 230px;
    height: 230px;
    max-width: 400px;
    max-height: 400px;
    padding: 5px;
  }

  #progress:after {
    margin: 3%;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    padding: 17%;
    z-index: -100;
  }
}
